{%extends "base.html" %}

{%block content%}

<img class="avatar" src="{{player.avatar}}"/>

<p><label>Username:</label> <span>{{player.user.username}}</span></p>


<form method="POST" action=""> {{csrf()}}
{{form.as_p()|safe}}

<p><label>Twitter:</label> 
<span>
{%if player.twitter_screen_name%}
{{player.twitter_screen_name}}
<a href="{{url('login_twitter')}}">Change</a>
{%else%}
<a href="{{url('login_twitter')}}">Connect a twitter account</a>
{%endif%}
</span>

</p>

<p class="note">Once you have attached a twitter account, you can tweet your pending move like the following:
<blockquote>
@chessmatch [#game-slug] <from_square> <to_square>
</blockquote>

where from_square and to_square are in the format  [a-z][0-9]+
where #game-slug is the optional game slug
e.g.:
<blockquote>
@chessmatch e5 e6
</blockquote>
to move a pawn on e5 to square e6.



<input type="submit" value="Save"/>
</form>



{%endblock%}
