{%extends "base.html"%}

{%block scripts%}
{{super()}}
<script>
    window.latest_seen = '';

    window.unicodes = {
        'K': '&#9818',
        'Q': '&#9819',
        'R': '&#9820',
        'B': '&#9821',
        'N': '&#9822',
        'P': '&#9823',
    }
    window.colors = ['white','red','black','green'];

    window.game_actions = []

    function apply_move(move) {
        // create and/or position piece
        var $square = $('#square-'+move.to_coord)
        var color = window.colors[move.color]
        if (move.from_coord) {
            var $piece = $('#square-'+move.from_coord+' .piece')
        }
        else { // first placement, create it
            var $piece = $('<div class="piece '+color+'" id="piece_'+move.piece+'-'+color+'"/>')
            $piece.draggable({
                /*
                start: function(event, ui) {
                    for (var i=0; i < MY_COLORS.length; i++) {
                        if ($(this).hasClass(window.colors[MY_COLORS[i]])) {
                            return true;
                        }
                    }
                    return false
                },*/
            });
            $piece.html(window.unicodes[move.piece])
        }
        $piece.attr('square', move.to_coord)
        $square.empty()
        $square.append($piece)
    }

    function fetch_history() {
        $.get('{{url('chessmatch_history', slug=game.slug)}}'+latest_seen, function(data) {
            window.MY_COLORS = data.my_colors
            window.MY_CONTROLLER = data.my_controller
            var parts = data.turn.split('.')
            window.CUR_TURN = parts[0]
            window.CUR_COLOR = parts[1]

            // moves
            for (var i=0; i < data.moves.length; i++) {
                move = data.moves[i]
                var color = window.colors[move.color]
                apply_move(move)

                // add to game log
                window.game_actions.push(move)
                if (move.turn > 0) {
                    var $tr = $('tr#turn-'+move.turn);
                    if ($tr.length < 1) {
                        $tr = $('<tr id="turn-'+move.turn+'" ><th>'+move.turn+'.</th></tr>')
                        $('#movelist').append($tr)
                    }
                    var $td = $tr.find('td.color-'+color)
                    if ($td.length < 1) { // add move to the log
                        $td = $('<td class="move color-'+color+'"  actions_idx="'+(window.game_actions.length-1)+'">'+move.expr+'</td>')
                        $tr.append($td)
                    }
                }

                window.latest_seen = move.turn+'.'+move.color;
            }

            setTimeout(fetch_history, 10000)
        })
    }

    $(function() {
        fetch_history();

        $('td.move').live('click', function() {
            //replay the moves up to the one clicked on
            var $this = $(this);
            var actions_idx = $this.attr('actions_idx')

            $('div.piece').remove()
            for (var i=0; i <= actions_idx; i++) {
                apply_move(window.game_actions[i]) 
            }

            $('#id_to_coord').val("")
            $('#id_from_coord').val("")
            $('.square').removeClass('move-destination').removeClass('move-source')


        })

        $('td.square').droppable({
            drop: function(event,ui) {
                var $square = $(this)
                var $piece = ui.draggable

                $('#id_to_coord').val($square.attr('square'))
                $('#id_from_coord').val($piece.attr('square'))


                $('.square').removeClass('move-destination')
                $square.addClass("move-destination")
                $('#square-'+$piece.attr('square')).addClass("move-source")


                $piece.remove()
                $square.empty()
                $square.append($piece)
                $piece.css({'left':0,'top':0})
                $piece.draggable()
            }
        });
    })
</script>
{%endblock%}

{%block content%}

    <section class="game-info">
        <h1>{{game.name}}</h1>
        {# <h3>{{game.comma_players}}</h3> #}

        {%if not game.started_at%}
        <a href="{{url('chessmatch_start', slug=game.slug)}}">Start Game</a>
        {%endif%}
    </section>

    <section class="game-move">
        <form method="POST" action="{{url('chessmatch_move', slug=game.slug)}}" id="next-move">
            {{csrf()}}
            <input type="text" placeholder="From Coordinate" name="from_coord" id="id_from_coord"/>
            <input type="text" placeholder="To Coordinate" name="to_coord" id="id_to_coord"/>
            <button>Submit Move</button>
        </form>
    </section>

    <section class="game-board">
        <table class="chessboard">
            <tr> <th></th> {%for file in files%} <th>{{file}}</th> {%endfor%} </tr>
        {%for rank in range(game.board_setup.num_rows,0,-1)%}
            <tr>
                <th>{{rank}}</th>
                {%for file in files%}
                    <td class="square 
                        {%if rank % 2%} 
                            {%if file in files_odds%}black{%else%}white{%endif%} 
                        {%else%} 
                            {%if file in files_evens%}black{%else%}white{%endif%} 
                        {%endif%} 

                        {%if not game.board_setup.is_coord_valid(file,rank)%}
                            unusable
                        {%endif%}
                        " 
                        id="square-{{file}}{{rank}}" square="{{file}}{{rank}}">
                    </td>
                {%endfor%}
                <th>{{rank}}</th>
            </tr>
        {%endfor%}
            <tr> <th></th> {%for file in files%} <th>{{file}}</th> {%endfor%} </tr>
        </table>
    </section>

    <section class="game-log">
        <table id="movelist">
            <tr class="names">
                <th></th>
                <th>White {{macros.render_avatar(players[0])}}</th>
                <th>Red {{macros.render_avatar(players[1])}}</th>
                <th>Black {{macros.render_avatar(players[2])}}</th>
                <th>Green {{macros.render_avatar(players[3])}}</th>
            </tr>
        </table>
    </section>

{%endblock%}
