{%extends base_template%}

{%block styles%}
{{super()}}
{%if lite%}
    <link rel="StyleSheet" href="{{STATIC_URL}}css/lite.css">
{%endif%}
{%endblock%}


{%block scripts%}
{{super()}}
<script>
    window.latest_seen = '';

    window.unicodes = {
        'K': '&#9818',
        'Q': '&#9819',
        'R': '&#9820',
        'B': '&#9821',
        'N': '&#9822',
        'P': '&#9823',
    }
    window.directions = {
        'u':  '&#x21d1',
        'ur': '&#x21d7',
        'r':  '&#x21d2',
        'dr': '&#x21d8',
        'd':  '&#x21d3',
        'dl': '&#x21d9',
        'l':  '&#x21d0',
        'ul': '&#x21d6',
        'n': ''
    }
    window.game_actions = []

    function apply_move(move) {
        to_coord = move.to_coord.replace(/[\+x].*/, '')
        // create and/or position piece
        var $square = $('#square-'+to_coord)
        var color = window.COLORS[move.color]
        if (move.from_coord) {
            var $piece = $('#square-'+move.from_coord+' .piece')
        }
        else { // first placement, create it
            var $piece = $('<div class="piece '+color+'" id="piece_'+move.piece+'-'+color+'"/>')
            $piece.draggable({});
            $piece.html(window.unicodes[move.piece])
            if (move.direction in window.directions) {
                $piece.append('<div class="arrow '+move.direction+'">'+window.directions[move.direction]+'</div>')
            }
        }
        cap_parts = move.to_coord.split('x')
        if (cap_parts.length > 1) 
        {   
            // also includes extra capture
            $('#square-'+cap_parts[1]).empty()
        } 
        $piece.attr('square', to_coord)
        $square.empty()
        $square.append($piece)
    }

    function fetch_history() {
        $.get('{{url('chessmatch_history', slug=game.slug)}}'+latest_seen, function(data) {
            window.COLORS = data.colors
            window.MY_COLORS = data.my_colors
            window.MY_CONTROLLER = data.my_controller
            var parts = data.turn.split('.')
            window.CUR_TURN = parts[0]
            window.CUR_COLOR = parts[1]

            var i;

            if (COLORS[CUR_COLOR]) {
{%if not lite%}
                {%if game.is_active%}
                $('#cur-move').html(COLORS[CUR_COLOR]+"'s turn (#"+CUR_TURN+'.'+COLORS[CUR_COLOR][0]+')')
                {%else%}
                $('#cur-move').html(COLORS[CUR_COLOR]+" (#"+CUR_TURN+'.'+COLORS[CUR_COLOR][0]+')')
                {%endif%}
{%endif%}
            }

            //player list
            var $names = $('.game-log .names')
            $names.empty()
            $names.append('<th/>')
            for (i=0; i < data.players.length; i++) {
                var $th = $('<th class="player '+(CUR_COLOR == i ? "active" : "")+'"/>')
                if (data.colors[i])
                    $th.append('<div class="color">'+data.colors[i]+'</div>')
                $th.append('<img class="avatar" src="'+data.players[i].avatar+'"/>')
                $username = $('<div class="username">'+data.players[i].username+'</div>')
                if (data.players[i].owner != data.players[i].username) {
                    $username.prepend($('<div style="text-decoration: line-through;"/>').html(data.players[i].owner))
                    
                }
                $th.append($username)
                $names.append($th);
            }


            // moves
            for (i=0; i < data.moves.length; i++) {
                move = data.moves[i]
                var color = window.COLORS[move.color]
                apply_move(move)

                // add to game log
                window.game_actions.push(move)

                if (move.turn > 0) {
                    var $tr = $('tr#turn-'+move.turn);
                    if ($tr.length < 1) {
                        $tr = $('<tr id="turn-'+move.turn+'" ><th>'+move.turn+'.</th></tr>')
                        $('#movelist').prepend($tr)
                    }
                    var $td = $tr.find('td.color-'+color)
                    if ($td.length < 1) { // add move to the log
                        $td = $('<td class="color-'+color+'"><div class="move" actions_idx="'+(window.game_actions.length-1)+'">'+move.expr+'</div></td>')
                        $tr.append($td)
                    } else {
                        $td.append('<div class="move" actions_idx="'+(window.game_actions.length-1)+'">'+move.expr+'</div>')
                    }
                }

                window.latest_seen = move.turn+'.'+move.color;
            }
            if (data.moves.length > 0) { // new move came in, reset board 
                replay_to()
            }

            setTimeout(fetch_history, 10000)
        })
    }

    function replay_to(actions_idx) {
        var actions_idx = actions_idx || window.game_actions.length-1;
        $('div.piece').remove()
        for (var i=0; i <= actions_idx; i++) {
            apply_move(window.game_actions[i]) 
        }
    }

    $(function() {
        fetch_history();

        $('.move').live('click', function() {
            //replay the moves up to the one clicked on
            var $this = $(this);
            var actions_idx = $this.attr('actions_idx')

            replay_to(actions_idx)

            $('#id_to_coord').val("")
            $('#id_from_coord').val("")
            $('.square').removeClass('move-destination').removeClass('move-source')


        })

        $('td.square').droppable({
            drop: function(event,ui) {
                var $square = $(this)
                var $piece = ui.draggable

                $('#id_to_coord').val($square.attr('square'))
                $('#id_from_coord').val($piece.attr('square'))


                $('.square').removeClass('move-destination')
                $square.addClass("move-destination")
                $('#square-'+$piece.attr('square')).addClass("move-source")


                $piece.remove()
                $square.empty()
                $square.append($piece)
                $piece.css({'left':0,'top':0})
                $piece.draggable()
            }
        });

        $('#submit-move').click(function() {
            if (!($('#id_to_coord').val() && $('#id_from_coord').val())) {
                return false;
            }
            var $form = $('#next-move')
            $.ajax({
                'type': "POST",
                'url': $form.attr("action"),
                'data': $form.serialize(),
                'success': function() {
                    fetch_history();
                },
                'error': function() {
                    alert('cannot make that move')
                }
            })

            return false;
        })

        $('#submit-pass').click(function() {
            $('#id_from_coord').val('-')
            $('#id_to_coord').val('-')
            return false;
        })
        $('#submit-concede').click(function() {
            $('#id_from_coord').val('X')
            $('#id_to_coord').val('X')
            return false;
        })
        $('#submit-yield select').change(function() {
            $('#id_from_coord').val('yield')
            $('#id_to_coord').val($(this).val())
            return false;
        })
        $('#submit-check select').change(function() {
            var cur = $('#id_to_coord').val()
            cur += '+'+$(this).val()
            $('#id_to_coord').val(cur)
            return false;
        })
    })
</script>
{%endblock%}

{%block content%}

    <section class="game-info">
        <h1>{{game.name}}</h1>
    </section>

    <section class="game-move">
        {%if game.is_active%}
        <div id="cur-move">
            {%if not game.started_at%}
                <p>{{game.num_players}} of {{game.board_setup.min_players}}{%if game.board_setup.max_players != game.board_setup.min_players%}..{{game.board_setup.max_players}}{%endif%} players </p>
                {%if game.is_playing(user) and game.num_players >= game.board_setup.min_players and not game.started_at%}
                <a href="{{url('chessmatch_start', slug=game.slug)}}">Start Game</a>
                {%endif%}
            {%endif%}
        </div>
        {%if not lite %}
        <form method="POST" action="{{url('chessmatch_move', slug=game.slug)}}" id="next-move">
            {{csrf()}}
            <input type="text" placeholder="From Coordinate" name="from_coord" id="id_from_coord"/>
            <input type="text" placeholder="To Coordinate" name="to_coord" id="id_to_coord"/>
            <button id="submit-move">Submit Move</button>
            <section class="extra-moves">
                <button id="submit-pass">Pass</button>
                <button id="submit-concede">Concede</button>
                <span id="submit-check">Check: {{moves_form.other_players|safe}}</span>
                <span id="submit-yield">Yield to: {{moves_form.other_players|safe}}</span>
            </section>
        </form>
        {%endif%}
        {%elif game.winner%}
        Winner: {{game.winner.player.moniker}}
        {%endif%}
    </section>

    <section class="game-board">
        {{macros.render_chessboard(game.board_setup)}}
    </section>


    <section class="game-log">
        <table>
            <tr class="names"></tr>
            <tbody id="movelist">
            </tbody>
        </table>
    </section>

{%if not lite%}
    <section class="game-rules">
        <h3>Rules</h3>
        <pre>{{game.board_setup.description}}</pre>
    </section>
{%endif%}

{%endblock%}
