{%extends "base.html"%}

{%block content%}



<section class="lobby">

	<aside class="newgame">
		<a class="action" href="{{url('chessmatch_newgame')}}">New Game</a>
	</aside>

	<a class="action" href="{{url('chessmatch_manage_boards')}}">Manage Board Layouts</a>


	<table class="gamelist">
	<tr>
		<th>Game</th>
		<th>Players</th>
		<th>Turn</th>
		<th>Started</th>
	</tr>
	{%for game in games%}
	<tr>
	    <td><a href="{{url('chessmatch_game', slug=game.slug)}}">{{game.name}}</a></td>
	    <td>
	    	{%if request.user.is_authenticated() and not game.is_playing(request.user) and not game.started_at %}
	    	<a href="{{url('chessmatch_join', slug=game.slug)}}">Join</a>
	    	{%endif%}
	    	{{game.comma_players}}
	    </td>
	    <td>
	    	{%if game.turn_number%}{{game.turn_number}}
	    	{%else%}Seating...
	    	{%endif%}
	    </td>
	    <td>{%if game.started_at%}{{game.started_at}}{%endif%}</td>
	</tr>
	{%endfor%}
	</table>
</section>
{%endblock%}
