{%extends "base.html"%}

{%block content%}



<section class="lobby">

    <aside class="boardsetups">
        <a class="action" href="{{url('chessmatch_manage_boards')}}">Board Setups</a>
    </aside>

    <aside class="newgame">
        <a class="action" href="{{url('chessmatch_newgame')}}">New Game</a>
    </aside>


    <table class="gamelist">
    <tr>
        <th>Game</th>
        <th>Board Setup</th>
        <th>Players</th>
        <th>Turn</th>
    </tr>
    {%for game in games%}
    <tr>
        <td><a href="{{url('chessmatch_game', slug=game.slug)}}">{{game.name}}</a></td>
        <td> {{game.board_setup}} </td>
        <td>
            {%if request.user.is_authenticated() and not game.is_playing(request.user) and not game.started_at %}
            <a href="{{url('chessmatch_join', slug=game.slug)}}">Join</a>
            {%endif%}
            {{game.comma_players}}
        </td>
        <td>
            {%if game.started_at%}
            <div>
                <label>Turn:<label>  
                #{{game.turn_number}}.{{game.board_setup.get_turn_color(game.turn_color).color.letter}} 
                ({{game.current_turn_player().moniker}})
            </div>
            <div>
                <label>Started:</label>
                {{game.started_at.strftime("%b %d %H:%M")}}
            </div>
            {%else%}
            <div>
                <label>Seating:</label>
                {{game.num_players}} of {{game.board_setup.min_players}}{%if game.board_setup.min_players != game.board_setup.max_players%}..{{game.board_setup.max_players}}{%endif%}
            </div>
            {%endif%}
        </td>
    </tr>
    {%endfor%}
    </table>


    <h3>Archive</h3>
    <table class="gamelist archive">
    <tr>
        <th>Game</th>
        <th>Players</th>
        <th>Outcome</th>
    </tr>
    {%for game in archive%}
    <tr>
        <td><a href="{{url('chessmatch_game', slug=game.slug)}}">{{game.name}}</a> / {{game.board_setup}}</td>
        <td> {{game.comma_players}}</td>
        <td> 
        {%if game.winner%}
        {{game.winner.player.moniker}}
        {%endif%}
        #{{game.turn_number}}.{{game.board_setup.get_turn_color(game.turn_color).color.letter}} 
        </td>
    </tr>
    {%endfor%}

</section>
{%endblock%}
