body {
    margin: 0;
    padding: 0;
    color: #ddd;
    background: #333;
}
table#movelist.lite {
   margin-left: 30px; 
}
table#movelist.lite th {
    padding: 0 8px 0 8px;
}

section#content {
    margin: 0;
    padding: 0;
}


section.game-board {
    float: none;
}
section.game-log {
    float: none;
}   
.game-log th.active {
    border: 1px solid #eee;
    background: #666;
}
