/* reset */
body {
    margin: 0;
    padding: 0;
}


/* base layout */
section#page-header {
    position: relative;
    vertical-align: top;
    background: #eee;
    padding: 4px;
}

section#page-header h1 {
    display: inline; 
    float: left;
    padding: 0;
    margin:0;
}
section#page-header h1 a:link, 
section#page-header h1 a:visited, 
section#page-header h1 a:hover  {
    text-decoration: none;
    color: black;

}

section#page-header p.loginout {
    float: right;
    padding: 0;
    margin:0;
    padding-top: 5px;
}
section#page-header p.loginout a:link,
section#page-header p.loginout a:visited,
section#page-header p.loginout a:hover {

    
       color: #33c; 
   text-decoration: none;
   font-weight: bold;
   font-size: 18px;
   font-family: helvetica;
}


section#content {
    margin: 20px;
}



/* lobby layout */

section.lobby {
    margin: auto;
    width: 800px;    
   font-family: helvetica;

}

.lobby a:link,
.lobby a:visited,
.lobby a:hover {
   color: #33c; 
   text-decoration: none;
   font-weight: bold;
   font-size: 16px;
}

.lobby table.gamelist {
    width: 100%;
    border-spacing: 1px;
    margin-top: 20px;
}
.lobby table.gamelist th {
    text-align: left; 

    padding: 4px;
    background: #aaa;
    font-family: helvetica;
} 
.lobby table.gamelist td {
    vertical-align: bottom; 

    padding: 4px;
    background: #eee;
}


.lobby aside a.action:link,
.lobby aside a.action:visited,
.lobby aside a.action:hover
{
    font-size: 20px;    
}
.lobby .boardsetups { 
    float: right;
}



/* board layout */

section.game-board {
    float: left;
    margin: 0 50px 50px 20px;
}

section.game-move {
    float: right;
    margin-right: 50px;
}
section.game-move input[type=text] {
   width: 3em; 
   text-align: center;
}
section.game-log {
    float: left;
}
.game-log #movelist tr.names th {
    vertical-align: top;
    padding: 4px;
    width: 40px; 
}

.game-log #movelist th.active {
    background: #caa;
    
}
.game-log td.move {
    cursor: pointer;
    
}
.game-rules {
    clear: both;
}

section.game-info {
    text-align: center; 
}

img.avatar {
    width: 40px;
}

/* chess board and pieces */
table.chessboard {
    border-spacing: 0;
}
.square {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid transparent;
}
.square.black {
    background: #d18b47;
}
.square.white {
    background: #ffce9e;
}
.square.unusable {
    background: black;
}
.piece {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    font-size: 40px;
    margin-top: -22px;
}
.piece.white {
    color: white;
}
.piece.red {
    color: red;
}
.piece.green {
    color: green;
}
.piece.black {
    color: black;
}
.piece.yellow {
    color: yellow;
}
.piece.purple {
    color: purple;
}
.piece.blue {
    color: blue;
}
.piece.orange {
    color: orange;
}

.arrow {
    font-size: 14px;
}
.arrow.u {
    margin-top: -40px;
}
.arrow.ur {
    margin-top: -40px;
    margin-left: 20px;
}
.arrow.r {
    margin-top: -25px;
    margin-left: 20px;
}
.arrow.dr {
    margin-top: -12px;
    margin-left: 20px;
}
.arrow.d {
    margin-top: -12px;
}
.arrow.dl {
    margin-top: -12px;
    margin-left: -20px;
}
.arrow.l {
    margin-top: -25px;
    margin-left: -20px;
}
.arrow.ul {
    margin-top: -40px;
    margin-left: -20px;
}

.square.move-source {
    border: 1px dotted red;
}
.square.move-destination {
    border: 1px dotted blue;
}


/* board setup management */
#manage-boards .board-setup .square {
    min-width: 8px;
    min-height: 8px;
    width: 8px;
    height: 8px;
}
.board-setup .piece {
    min-width: 8px;
    min-height: 8px;
    width: 8px;
    height: 8px;
    font-size: 8px;
}

.toolbar ul {
    display: inline;
}
.toolbar ul li {
    display: inline;
}
