

{%macro render_avatar(player) -%}
{%if player%}
	<div class="player">
	    <img class="avatar" src="{{gravatar_image_url(player.user.email)}}?s=40"/>
	    <div class="username">{{player.user}}</div>
	</div>
	{%endif%}
{%endmacro%}



{%macro render_chessboard(board_setup, label=True, preview=False, show_directions=True) -%}
    <table class="chessboard">
    	{%if label%}
        <tr> <th></th> {%for file in board_setup.files%} <th>{{file}}</th> {%endfor%} </tr>
        {%endif%}

	    {%for rank in range(board_setup.num_rows,0,-1)%}
	        <tr>
	            {%if label%}
	            <th>{{rank}}</th>
	            {%endif%}
	            {%for file in board_setup.files%}
	                <td class="square {{board_setup.get_space_color(file,rank)}}" id="square-{{file}}{{rank}}" square="{{file}}{{rank}}">
	                {%if preview%}
	                	{{board_setup.get_starting_piece(file,rank,show_directions=show_directions)|safe}}
	                {%endif%}
	                </td>
	            {%endfor%}
	            {%if label%}
	            <th>{{rank}}</th>
	            {%endif%}

	        </tr>
	    {%endfor%}

    	{%if label%}
        <tr> <th></th> {%for file in board_setup.files%} <th>{{file}}</th> {%endfor%} </tr>
        {%endif%}
    </table>
{%endmacro%}